#_site
#src/_posts/_draft
#src/_posts/_archive
#.vscode
#public/assets/main*
#public/assets/vendor*
#*.log
#*.sh
#_archive
src/public/assets/main*
src/public/assets/vendor*
node_modules
src/_drafts/*

dist/
#docs/
package-lock.json
src/.jekyll-cache/
.idea/
.jekyll-cache/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
README_HUX.md
README_HUX.zh.md
