---
title: ARCHIVE
layout: page
description: 日常搬砖。
---

{% comment %} get tag levels from tagLevels.yml {% endcomment %}

<!-- Main Content -->
<table>
{% assign mod = 6 %}
{% assign counter = 0 %}
{% assign rowCounter = 0 %}
{% assign isNewRow = 0 %}
{% for post in site.posts %}
    {% assign isNewRow = rowCounter | modulo: mod %}
    {% assign thisYearMonth = post.date | date: "%Y/%m" %}
    {% assign prevYearMonth = post.previous.date | date: "%Y/%m" %}
    {% assign counter = counter | plus: 1 %}
    {% if thisYearMonth != prevYearMonth %}
        {% if forloop.first or isNewRow == 0 %}<tr>{% endif %}
        <td>
            <a href="#{{ post.date | date: '%Y年%m月' }}">
            {{ thisYearMonth }}
            </a>
            ({{ counter }})
        </td>
        {% assign rowCounter = rowCounter | plus: 1 %}
        {% assign counter = 0 %}
        {% if rowCounter == mod and isNewRow == 0 %}</tr>{% endif %}
    {% endif %}
{% endfor %}
</table>

<hr/>

{% for post in site.posts %}
    {% if post.istodo %}
    <ul style="list-style: none;">
    <li>
        &nbsp;&nbsp;{{ post.date | date: '%Y/%m/%d' }}&nbsp;&nbsp;
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    </ul>
    {% endif %}
{% endfor %}

<hr/>

<ul style="list-style: none;">
{% for post in site.posts %}
{%- assign _tags = '' -%}
{%- assign _tag_names = '' -%}
{%- for _tag_entry in post.tags -%}
{%- assign _tag_encode = _tag_entry | strip | url_encode -%}
{%- if forloop.last -%}
{%- assign _tags = _tags | append: _tag_encode -%}
{%- else -%}
{%- assign _tags = _tags | append: _tag_encode | append: ',' -%}
{%- endif -%}
{%- endfor -%}

{% unless post.next %}
<h4 id="{{ post.date | date: '%Y年%m月'}}">{{ post.date | date: '%Y年%m月' }}</h4>
{% else %}
{% capture currdate %}{{ post.date | date: '%Y%m' }}{% endcapture %}
{% capture nextDate %}{{ post.next.date | date: '%Y%m' }}{% endcapture %}
{% if currdate != nextDate %}
<h4 id="{{ post.date | date: '%Y年%m月'}}">{{ post.date | date: '%Y年%m月' }}</h4>
{% endif %}
{% endunless %}

<li>
    &nbsp;&nbsp;{{ post.date | date: '%Y/%m/%d' }}&nbsp;&nbsp
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
<div id="app">

</div>
