---
layout: page
description: "世界上有很多的东西"
hide-in-nav: true
title: "HOME"
---

{% include getTagLevelAmounts.html %}

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {% if post.lang == 'en' %}
                {{ post.content | strip_html | truncate:1000 }}
            {% else %}
                {{ post.content | strip_html | truncate:800 }}
            {% endif %}
        </div>
    </a>

    <!-- capture tags for every article -->
    {% assign has_article_tags = false %}
    {% capture article_tags %}
    {% for tag_p in site.tags %}
        {%- if post.tags contains tag_p[0] -%}
        {% assign has_article_tags = true %}
        {%- assign tagName = tag_p[0] -%}
        {%- if site.data.tagLevels[tagName].level == 1 -%}
        {%- assign tagColorId = 'tag-' | append: site.data.tagLevels[tagName].level | append: '-' | append: firstTagAmount %}
        {%- elsif site.data.tagLevels[tagName].level == 2 -%}
        {%- assign tagColorId = 'tag-' | append: site.data.tagLevels[tagName].level | append: '-' | append: secondTagAmount %}
        {%- elsif site.data.tagLevels[tagName].level == 3 -%}
        {%- assign tagColorId = 'tag-' | append: site.data.tagLevels[tagName].level | append: '-' | append: thirdTagAmount %}
        {%- elsif site.data.tagLevels[tagName].level == 4 -%}
        {%- assign tagColorId = 'tag-' | append: site.data.tagLevels[tagName].level | append: '-' | append:  fourthTagAmount %}
        {% else %}
        {%- assign tagColorId = 'tag-0-0' -%}
        {%- endif -%}
        <a class="tag-button {{ tagColorId }}"
           title="{{ tag_p[0] }}" rel="{{ tag_p[1].size }}"
           href="{{ site.baseurl }}/tags.html?tags={{ tag_p[0] | url_encode }}" >
            #{{ tag_p[0] }}
            <sup>{{tag_p[1].size}}</sup>
        </a>
        {%- endif -%}
    {% endfor %}
    {% endcapture %}
    <br/>
    <p class="post-meta">
        {{ post.date | date: "%B %-d, %Y" }} &nbsp;|&nbsp;
        约{{ post.content | strip_html | strip_newlines | remove: " " | size | divided_by: 350 | plus: 1 }}分钟读完
        大约{{ post.content | strip_html | strip_newlines | remove: " " | size }}个字
        <span>
        {% for category in post.categories %}
        {%- if forloop.first -%}&nbsp;|&nbsp;{%- endif -%}
        <a href="{{ site.baseurl }}/categories.html?categories={{ category }}" title="{{ category }}"><font color="#9acd32">☖{{ category }}&nbsp;</font></a>
        {% endfor %}
        </span>
        {% if has_article_tags == false %}
        {% else %}
        &nbsp;|&nbsp;
        <span id='tag_cloud' class="tags tags-sup">
            {{ article_tags }}
        </span>
        {% endif %}
    </p>
    <hr/>
    <!--  Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %}-->
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
